body{
            background-color: linen;
        }
        h1{
            color: red;
            font-style: italic;
        }
        p{
            color: rgb(64, 64, 37);
            font-weight: bold;
        }